@model DetailViewModel

<link rel="stylesheet" href="~/css/detail.css" />

<div class="row">
    <div class="col-6 offset-3">
        <div class="card text-center">
            <img src="@Model.Movie.ImgUrl" class="card-img-top"
                 alt="@Model.Movie.Name" width="350" height="450">
            <div class="card-body">
                <h5 class="card-title">@Model.Movie.Name</h5>
                <div>
                    @foreach (var category in @Model.Categories)
                    {
                        <span class="badge bg-secondary">@category.Name</span>
                    }
                </div>
                <p class="card-text">@Model.Movie.Description</p>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <form asp-action="SaveComment">
                    <input asp-for="Comment.Movie.Id" value="@Model.Movie.Id" hidden />
                    <div class="mb-3">
                        <label class="form-label">Yorumunuz</label>
                        <input type="text"
                               class="form-control" asp-for="Comment.Text">
                    </div>
                    <button type="submit" class="btn btn-primary">Yorumu Kaydet</button>
                </form>
            </div>
            <div class="card-body">
                <ul class="list-group">
                    @foreach (var comment in Model.Movie.Comments)
                    {
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            @comment.Text
                            <form asp-action="CommentDelete">
                                <input asp-for="Comment.Id" value="@comment.Id" hidden />
                                <button class="btn btn-danger">Sil</button>
                            </form>
                        </li>
                    }

                </ul>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/site.js"></script>
}
